# Supabase
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Sessions & Data
browser_session/
data/
*.log
!engine.log
!messenger.log
*.json
!admin_dashboard/templates.json
!crawler/regions.json
!package.json
*.csv
*.sqlite
*.png
!assets/MarketingMonster_logo.png


# Firebase Key (SENSITIVE)
firebase_key.json
write_key.py

# Build and Distribution
dist/
build/
*.exe
*.zip
*.spec
